<h1>Actors</h1>

<p class="text-right">
  <%= link_to 'New Actor', new_actor_path, class: "btn btn-default" %>
</p>

<div class="list-group">
  <% @actors.each do |actor| %>
    <%= link_to actor_path(id: actor.id), class: "list-group-item" do %>
      <%= actor.full_name %>
      <span class="badge"><%= actor.movies.count %></span>
    <% end %>
  <% end %>
</div>
