<h1>Movies</h1>

<p class="text-right">
  <%= link_to 'New Movie', new_movie_path, class: "btn btn-default" %>
</p>

<div class="list-group">
  <% @movies.each do |movie| %>
    <%= link_to movie_path(id: movie.id), class: "list-group-item" do %>
      <%= movie.title %>
      <span class="badge"><%= movie.actors.count %></span>
    <% end %>
  <% end %>
</div>
